<mat-toolbar class="mat-primary mat-toolbar-single-row mat-elevatmat-z8 color-barra" color="background">
    Festivos
  </mat-toolbar>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Año</mat-label>
      <input matInput [(ngModel)]="textoListar">
    </mat-form-field>
    <button mat-stroked-button color="primary" (click)="obtenerFestivos()">Obtener festivos</button>
  </div>
  <div>
    <ngx-datatable class="dark" [headerHeight]="50" [footerHeight]="50" [rowHeight]="20" [rows]="festivos"
      [columns]="columnas" [columnMode]="modoColumna.force" [limit]="10" (activate)="onActivate($event)"
      [rowHeight]="'auto'">
    </ngx-datatable>
  </div>
  